body, html {
    font-family: sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-template-areas:    'header header header'
                            'list editor editor'
                            'footer footer footer';
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 150px auto;
    height: 100%;
}

.app .list {
    grid-area: list;
}

.app .editor {
    font-size: large;
    grid-area: editor;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.app .editor textarea {
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    padding: 16px;
    font-size: larger;
}
.app .editor button {
    cursor: pointer;
}
.app .create-api {
    display: flex;
    flex-wrap: wrap;
}
.app .editor input, .app .editor button {
    align-self: flex-start;
    margin: 8px 0;
    border: none;
    outline: none;
    background-color: #eee;
    padding: 4px;
    border-radius: 4px;
    font-size: large;
}

.app .header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: bold;
}

.app .footer {
    grid-area: footer;
}

.app .list .item {
    padding: 8px;
    cursor: pointer;
    background-color: gray;
    color: white;
    margin: 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}