body, html {
    font-family: sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    --border-radius: 8px;
}
* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background-color: #aaa;
    color: white;
    margin: 0 2px;
    border-radius: var(--border-radius);
}

input {
    text-indent: 4px;
}

.global {
    grid-area: global;
}

button, input {
    padding: 4px 6px;
}
.app {
    display: grid;
    grid-template-areas:    'header header header'
                            'list editor global'
                            'footer footer footer';
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 200px auto 200px;
    height: 100%;
}

.app .list {
    grid-area: list;
}

.app .editor {
    grid-area: editor;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.app .editor textarea {
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: var(--border-radius);
    outline: none;
    padding: 16px;
    font-size: larger;
    resize: none;
}

.app .create-api {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    border: 1px solid #aaa;
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--border-radius);
}

.app .create-api input {
    flex-grow: 1;
    width: 0;
    margin-right: 4px;
    border: 1px solid #aaa;

    border-radius: var(--border-radius);
    outline: none;
    text-indent: 4px;
}

.app .editor input {
    align-self: flex-start;
    margin: 8px 0;
    border: none;
    outline: none;
    background-color: #aaa;
    color: white;
    border-radius: var(--border-radius);
}

.app .header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: bold;
}

.app .footer {
    grid-area: footer;
}

.app .list .item {
    padding: 8px;
    cursor: pointer;
    background-color: gray;
    color: white;
    margin: 6px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
